@import "tailwindcss";
@import "./button/button.css";

@theme {
    /* Custom color palette */
    --color-dark-1: #181818;
    --color-dark-2: #282828;
    --color-dark-3: #232323;
    --color-yellow-1: #cb8a05;
    --color-yellow-2: #ebb309;
    --color-white-1: #ffffff;
    --color-gray-1: #bdbdbd;
    --color-red-1: #e53935;
    --color-red-2: #c62828;
}

@layer base {
    :root {
        font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
        line-height: 1.5;
        font-weight: 400;

        color-scheme: dark;
        @apply text-gray-1 bg-dark-1;

        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    a {
        font-weight: 500;
        @apply text-yellow-2 no-underline;
    }

    a:hover {
        @apply text-yellow-1;
    }

    body {
        margin: 0;
        padding: 0;
        min-width: 350px;
    }

    h1 {
        font-size: 3.2em;
        line-height: 1.1;
    }
}
